<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title>Carousel</title>  
  <link rel="stylesheet" href="styles/app.css"/>
  <link rel="stylesheet prefetch" href="stylesheets/onsenui.css">
  <link rel="stylesheet prefetch" href="stylesheets/onsen-css-components.css">
  <script src="javascripts/all.js"></script>
  
  <script>
    var randomColor = function() {
      return '#' + (function co(lor){   return (lor +=
          [0,1,2,3,4,5,6,7,8,9,'a','b','c','d','e','f'][Math.floor(Math.random()*16)])
            && (lor.length == 6) ?  lor : co(lor); })('');
    };

    var app = angular.module('myApp', ['onsen'])
    app.controller('MyCtrl', function($scope, $q) {
      ons.createAlertDialog('alert.html').then(function(alertDialog) {
        $scope.alertDialog = alertDialog;
      });

      $scope.fromTemplate = function() {
        $scope.alertDialog.show();
      };

      $scope.close = function() {
        if($scope.alertDialog && $scope.alertDialog.isShown()) {
          $scope.alertDialog.hide(); 
        }
      };

      $scope.alert = function() {
        ons.notification.alert({message: "Hello, world!"});
      };

      $scope.confirm = function() {
        ons.notification.confirm({
          message: "Do you like ramen?", 
          buttonLabels: ["Yes", "No"],
          callback: function(i) {
            if (i==0) {
              ons.notification.alert({message: "Me too!"});
            } else {
              ons.notification.alert({message: "That's too bad..."});
            }
          }
        });
      };

      $scope.prompt = function() {
        var fn = function() {
          ons.notification.prompt({
            message: "What is the meaning of Life, the Universe and Everything?",
            callback: function(answer) {
              if (answer === "42") {
                ons.notification.alert({message: "That's the correct answer!"});
              } else {
                ons.notification.alert({
                  message: "Incorrect! Please try again!",
                  callback: fn
                });
              }
            }
          });
        };

        fn();
      };

      $scope.cancelable = function() {
        ons.notification.confirm({
          message: "This dialog can be canceled by tapping the background or using the back button on your device.",
          cancelable: true,
          callback: function(i) {
            if (i == -1) {
              ons.notification.alert({message: "You canceled it!"});
            }
          }
        });
      };
    
      <!-- $scope.$watch('carousel', function(carousel) { -->
      <!--   carousel.on('overscroll', function(event) { -->
      <!--     var deferred = $q.defer(); -->

      <!--     event.waitToReturn(deferred.promise); -->

      <!--     setTimeout(function() { -->
      <!--       if (event.direction === 'left') { -->
      <!--         $scope.items.unshift(randomColor()); -->
      <!--       } -->
      <!--       else { -->
      <!--         $scope.items.push(randomColor()); -->
      <!--       } -->

      <!--       deferred.resolve(); -->

      <!--     }, 1000); -->
      <!--   }); -->
      <!-- }); -->

      $scope.items = [randomColor(), randomColor(), randomColor()];

      $scope.add = function() {
        $scope.items.push(randomColor());
      };

      $scope.remove = function() {
        $scope.items.pop();
      };

    });

    document.addEventListener("deviceready", onDeviceReady, false);
 
    function onDeviceReady() {
        // Now safe to use the Cordova API
    }

app.controller('FlickrController', function($scope,$http) {
  $scope.fetchPhotos = function(){
    $scope.failed = false;
    $scope.isFetching = true;
    $http.jsonp(
      "http://api.flickr.com/services/feeds/photos_public.gne?format=json"
      //{ params: { callback: 'JSON_CALLBACK' }}
    );
    // http.jsonp で成功／失敗を取得しようとすると、必ず404(error)がかえる。q
    // どうもangularの仕様らしいが回避方法がわからない。とりあえず、flickrから必ず取得できる前提コード
    //  * http://tyding.blogspot.jp/2015/10/angular-jsonp-gives-http-code-404-but.html
    //  * http://stackoverflow.com/questions/24072617/jsonp-request-gives-404-in-angular-app
    // XMLHttpRequest を利用すると200が返るっぽい。
    // 
    // .success(function () {
    //   $scope.failed = false;
    // })
    // .error(function () {
    //   $scope.failed = true;
    // });
      
    jsonFlickrFeed = function(result) {
      $scope.feeds = result;
      // $scope.failed = true;
      $scope.isFetching = false;
      return true;
    }
  };
});

  </script>

  <script type="text/javascript">
    // グラフ表示は以下のサイトを参考にした。
    // http://simalabs.com/labs/smoothiejs
    document.addEventListener("pageinit", function(e) {
      if (e.target.id == "smoothie_test_page") {


    // Randomly add a data point every 500ms
    var data1 = new TimeSeries();
    //data1.maxValue = 10000;
    //data1.minValue = 0;
    var data2 = new TimeSeries();
    //data1.maxValue = 10000;
    //data1.minValue = 0;
    var data3 = new TimeSeries();
    //data1.maxValue = 10000;
    //data1.minValue = 0;
    setInterval(function() {
      var time = new Date().getTime();
      data1.append(time, Math.random() * 10000);
      data2.append(time, Math.random() * 10000);
      data3.append(time, Math.random() * 10000);
    }, 500);
    
    function createTimeline() {
      // var chart = new SmoothieChart();
      var chart = new SmoothieChart({
            grid: {
                strokeStyle: "rgb(125, 0, 0)",
                fillStyle: "rgb(60, 0, 0)",
                lineWidth: 1,
                millisPerLine: 1e3
            },
            maxValue: 10000,
            minValue: 0,
            timestampFormatter: SmoothieChart.timeFormatter
        }, 2e3);
    
      //chart.addTimeSeries(data1, { strokeStyle: 'rgba(0, 255, 0, 1)', fillStyle: 'rgba(0, 255, 0, 0.2)', lineWidth: 4 });
      //chart.addTimeSeries(data2, { strokeStyle: 'rgba(255, 0, 0, 1)', fillStyle: 'rgba(0, 255, 0, 0.2)', lineWidth: 4 });
      //chart.addTimeSeries(data3, { strokeStyle: 'rgba(0, 0, 255, 1)', fillStyle: 'rgba(0, 255, 0, 0.2)', lineWidth: 4 });
      chart.addTimeSeries(data1, { strokeStyle: 'rgba(0, 255, 0, 1)', lineWidth: 4 });
      chart.addTimeSeries(data2, { strokeStyle: 'rgba(255, 0, 0, 1)', lineWidth: 4 });
      chart.addTimeSeries(data3, { strokeStyle: 'rgba(0, 0, 255, 1)', lineWidth: 4 });
      chart.streamTo(document.getElementById("chart"), 500);
    }

    
        createTimeline();
      }
    }, false);
    
    
  </script>


  <style>
    ons-carousel-item {
      display: table;
      text-align: center;
    }
    .item-label {
      display: table-cell;
      vertical-align: middle;
      color: white;
      line-height: 1;
      font-size: 48px;
      font-weight: bold;
    }
    .cover-label {
      text-align: center;
      position: absolute;
      left: 0px;
      width: 100%;
      bottom: 10px;
      color: white;
    }

    .list-item {
      padding: 0;
      height: 72px;
    }

    .list-action-menu {
      
      background-color: #aaa;
      color: white;
      padding: 0 12px;
      box-sizing: border-box;
      line-height: 72px;
    }
    .list-action-menu:active {
      background-color: #666;
    }

    .list-action-item {
      padding: 0 12px;
      box-sizing: border-box;
    }

    .name {
      margin-top: 10px;
      line-height: 1.2;
    }
    .desc {
      line-height: 1.2;
      font-size: 14px;
      color: #999;
    }
  </style>
  
</head>

<body ng-controller="MyCtrl">
<!-- <body> -->
  <ons-navigator var="navi">
    <ons-page>
      <ons-toolbar>
        <div class="center">Carousel</div>
      </ons-toolbar>
      <br>
      <ons-list>
        <ons-list-item ng-click="navi.pushPage('pages/dialog_test.html')" modifier="chevron">dialog_test</ons-list-item>
        <ons-list-item ng-click="navi.pushPage('pages/smoothie_test.html')" modifier="chevron">smoothie_test</ons-list-item>
        <ons-list-item ng-click="navi.pushPage('pages/page1.html')" modifier="chevron">page1</ons-list-item>
        <ons-list-item ng-click="navi.pushPage('pages/page2.html')" modifier="chevron">page2</ons-list-item>
        <ons-list-item ng-click="navi.pushPage('pages/page3.html')" modifier="chevron">page3</ons-list-item>
        <ons-list-item ng-click="navi.pushPage('pages/page4.html')" modifier="chevron">page4</ons-list-item>
        <ons-list-item ng-click="navi.pushPage('pages/page5.html')" modifier="chevron">page5</ons-list-item>
        <ons-list-item ng-click="navi.pushPage('pages/page6.html')" modifier="chevron">page6</ons-list-item>
        <ons-list-item ng-click="navi.pushPage('pages/page7.html')" modifier="chevron">page7</ons-list-item>
      </ons-list>

      <div ng-controller="FlickrController as feeds">
        <ons-list>
          <ons-list-item class="center">
            <ons-button type="cta" should-spin="{{isFetching}}" ng-click="fetchPhotos()">Fetch Photos</ons-button>
          </ons-list-item>
          
          <ons-list-item ng-animate="'zoom'" ng-show="failed">
            Oops! looks like Flickr is down.
          </ons-list-item>
          
          <ons-list-item ng-repeat="item in feeds.items">
            <img width="20%" ng-src="{{item.media.m}}">
          </ons-list-item>
        </ons-list>
      </div>

    </ons-page>
  </ons-navigator>

  <ons-template id="alert.html">
    <ons-alert-dialog>
      <div class="alert-dialog-title">Warning!</div>
      <div class="alert-dialog-content">
        An error has occurred!
      </div>
      <div class="alert-dialog-footer">
        <button class="alert-dialog-button" ng-click="close()">Cancel</button>
        <button class="alert-dialog-button" ng-click="close()">OK</button>
      </div>
    </ons-alert-dialog>
  </ons-template>

</body>
</html>
