<ons-page>
  <ons-toolbar>
    <div class="left"><ons-back-button>Back</ons-back-button></div>
    <div class="center">Alert dialog</div>
  </ons-toolbar>
  
  <div style="text-align: center">
    <br />
    <ons-button ng-click="fromTemplate()">Create from template</ons-button>
    <ons-button ng-click="alert()">Alert</ons-button>
    <ons-button ng-click="confirm()">Confirm</ons-button>
    <ons-button ng-click="prompt()">Prompt</ons-button>
    <ons-button ng-click="cancelable()">Cancelable</ons-button>
  </div>
  
</ons-page>
